.radio {
  margin-bottom: 10px;

  div {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  div:not(:last-child) {
    margin-bottom: 5px;
  }

  input {
    margin-right: 5px;
  }
}
